#cabecera {
	background-color: #CC00CC;
	height: 100px;
}

#cabecera div:nth-child(1) {
	float: left;
	width: 20%;
	vertical-align: middle;
	padding: 40px 0px 0px 0px;
}

#cabecera div:nth-child(2) {
	float: left;
	width: 80%;
	text-align: right;
	padding: 40px 0px 0px 0px;
}

#cabecera div:nth-child(2) input[type=text],
#cabecera div:nth-child(2) input[type=password] {
	width: 10em;
}

